@import 'variables';

.add-fenetre-form {
  @include card;
  margin-bottom: 1.5rem;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__field {
    label {
      display: block;
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 0.25rem;
    }

    input {
      @include input-base;

      &::placeholder {
        color: #9ca3af;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__submit {
    @include button-base;
    background-color: $success-color;
    color: $white;
    width: 100%;
    padding: 0.75rem;

    &:hover:not(:disabled) {
      background-color: $success-hover;
    }
  }
}
