@import 'variables';

.loading {
  &__container {
    padding: 1.5rem;
  }

  &__skeleton {
    &-item {
      margin-bottom: 0.5rem;

      &--large {
        height: 1.5rem;
        background-color: $gray-light;
        border-radius: 0.25rem;
        margin-bottom: 0.5rem;
      }

      &--medium {
        height: 1rem;
        background-color: $gray-light;
        border-radius: 0.25rem;
        margin-bottom: 0.25rem;
      }

      &--small {
        height: 1rem;
        background-color: $gray-light;
        border-radius: 0.25rem;
        width: 5rem;
      }
    }
  }
}
